@page "/"

<PageTitle>Index</PageTitle>

<h1>Make an account</h1>

<label>Name</label> <br />
<input type='text' @bind=newAccountName /> <br />
<input type=''
<button @onclick="makeCheckingAccount">Make Checking Account</button>
<button @onclick="makeSavingsAccount">Make Savings Account</button> <br />
<button @onclick="saveAccounts">Save Accounts</button> <br />


<h1>Account List</h1>
@if (accounts.Count == 0)
{
    <p>No accounts in list.</p>
}
@foreach (var account in accounts)
{
    <p>@account.Name: @account.Balance.ToString("c")</p>
}


<h1>Hello, tis the converter for Fahrenheit!</h1>

<h3>Fahrenheit in Celsius</h3>

<input @bind=Fahrenheit />
<button @onclick="NewCelsius">Calculate</button> <br />
Celsius: @celsius<br>
Fahrenheit: @Fahrenheit<br>

<h3>Celsius in Fahrenheit</h3>
<input @bind=celsius />
<button @onclick="NewFahrenheit">Calculate</button> <br />
Celsius: @celsius<br>
Fahrenheit: @Fahrenheit<br>


@code
{
    public double Fahrenheit;
    public double celsius = 0;

    public void NewCelsius()
    {
        celsius = (Fahrenheit - 32) * 5 / 9;

    }
    public void NewFahrenheit()
    {
        Fahrenheit = (celsius*9)/5 + 32;

    }

    protected override void OnInitialized()
    {
        if (File.Exists("accounts.txt"))
        {
            accounts = Account.Load("accounts.txt");
        }
    }

    string newAccountName;
    List<Account> accounts = new();

    private void makeCheckingAccount()
    {
        accounts.Add(new CheckingAccount(newAccountName, CheckingAccountLevel.HighRoller));
        newAccountName = null;
    }

    private void makeSavingsAccount()
    {
        accounts.Add(new SavingsAccount(newAccountName));
        newAccountName = null;
    }

    private void saveAccounts()
    {
        using (var writer = new StreamWriter("accounts.txt"))
        {
            foreach (var account in accounts)
            {
                account.Save(writer);
            }
            writer.Close();
        }
    }
}